{{define "navbar"}}
<nav class="navbar" aria-label="Main navigation">
  <a href="/studentDashboard" class="nav-link {{if eq .ActiveNav "home"}}active{{end}}">Home</a>
  <a href="/shop" class="nav-link {{if eq .ActiveNav "shop"}}active{{end}}">Shop</a>
  <a href="/avatar" class="nav-link {{if eq .ActiveNav "avatar"}}active{{end}}">Avatar</a>
  <span class="nav-link nav-link-disabled" aria-disabled="true">Games</span>
  <span class="nav-link nav-link-disabled" aria-disabled="true">Social</span>
  <span class="nav-link nav-link-disabled" aria-disabled="true">Stats</span>
</nav>
{{end}}
